@media only screen and(max-height:600px) {
  header {
    height: 600px;
  }
}
@media only screen and(max-width:1200px) {
  header {
    nav {
      .logo {
        width: 500px;
      }
    }
  }
}
@media only screen and(max-width:1024px) {
  header {
    nav {
      .logo {
        width: 400px;
      }
      .links {
        position: fixed;
        background: #fff;
        top: -100%;
        bottom: auto;
        left: 0;
        right: 0;
        flex-direction: column;
        z-index: 10;
        font-size: 1.5rem;
        li {
          margin: 25px;
        }
        &.open {
          top: 0;
          bottom: 0;
        }
      }
      .burger {
        display: flex;
      }
    }
  }
  main {
    .jobs {
      &-container {
        &-special-cards {
          &-card {
            width: 95%;
          }
        }
      }
    }
    .processes {
      width: 80%;
    }
    .gallery-items {
      margin: 30px 0;
      &-txt {
        text-align: center;
        font-size: 1.3rem;
      }
      &-txt,
      &-slider {
        width: 500px;
      }
    }
  }
}
@media only screen and(max-width:800px) {
  header {
    .header-bg {
      width: 150%;
      height: 70%;
      left: -20%;
      right: -20%;
      border-radius: 100% 0 70% 0;
      bottom: 20px;
      .banner-container {
        margin: 0 auto;
        width: 75%;
        height: 100%;
      }
    }
    .second-page-header {
      &-txt {
        font-size: 2.5rem;
      }
    }
  }
  main {
    .jobs {
      &-container {
        &-special-cards {
          &-card {
            height: auto;
            width: 100%;
            padding-bottom: 20px;
            &-txt {
              width: 80%;
              height: 200px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              &-title {
                font-size: 1.5rem;
              }
            }
            &-slider {
              width: 80%;
              height: 200px;
            }
          }
        }
      }
    }
    .contact-txt {
      width: 100%;
      &-left,
      &-right {
        width: 400px;
      }
    }
  }
}
@media only screen and(max-width:600px) {
  .loader {
    &-logo {
      width: 120px;
      height: 120px;
    }
    &-txt {
      width: 400px;
    }
  }
  header {
    nav {
      padding: 0 20px;
      .logo {
        width: 80%;
        left: 50%;
        top: 80px;
        transform: translateX(-50%);
        &.active {
          transform: translateX(0);
          width: 200px;
        }
      }
    }
  }
  main {
    padding: 50px 20px;
    .aboutUs {
      gap: 0;
      &-title {
        font-size: 1.5rem;
      }
      &-left,
      &-right {
        width: 100%;
        &-title {
          font-size: 1.2rem;
        }
        &-desc {
          font-size: 0.9rem;
        }
      }

      &-right {
        padding-bottom: 30px;
        &-desc {
          margin: 0;
        }
        &-title {
          margin: 30px 0;
        }
      }
      .swiper-container {
        height: 300px;
      }
    }
    .jobs {
      &-desc {
        &-title {
          font-size: 1.3rem;
        }
        &-txt {
          font-size: 0.9rem;
        }
      }
    }
    .processes {
      width: 90%;
      &-title {
        font-size: 1.4rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
    .contact-txt {
      font-size: 1.7rem;
      &-left,
      &-right {
        width: 350px;
      }
    }
    .form-container {
      &-elements {
        input[type="text"],
        input[type="number"],
        input[type="submit"] {
          font-size: 1rem;
        }
        label {
          font-size: 1.1rem;
        }
      }
    }
    .gallery-items {
      &-txt {
        font-size: 1.2rem;
      }
      &-txt,
      &-slider {
        width: 450px;
      }
    }
  }
}
@media only screen and(max-width:500px) {
  .loader {
    &-logo {
      width: 100px;
      height: 100px;
    }
    &-txt {
      width: 350px;
    }
  }
  header {
    .header-bg {
      width: 200%;
      left: -50%;
      right: -50%;
      bottom: 20px;
      .banner-container {
        margin: 0 auto;
        width: 50%;
        height: 100%;
      }
    }
    .second-page-header {
      &-txt {
        font-size: 2.2rem;
      }
    }
  }
  main {
    .processes {
      width: 100%;
      &-title {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
    .contact-txt {
      font-size: 1.5rem;
      &-left,
      &-right {
        width: 100%;
      }
      &-bottom {
        text-align: left;
      }
    }
    .gallery-items {
      &-txt {
        font-size: 1.1rem;
      }
      &-txt,
      &-slider {
        width: 400px;
      }
    }
  }
  footer {
    .footer-left {
      &-txt {
        font-size: 1rem;
      }
    }
  }
}
@media only screen and(max-width:400px) {
  .loader {
    &-txt {
      width: 300px;
    }
  }
  main {
    .gallery-items {
      &-txt {
        font-size: 1rem;
      }
      &-txt,
      &-slider {
        width: 100%;
      }
    }
  }
}
